.dropdown-menu {
  background-color: #184964 !important;
  color: #fafce5;
}

.dropdown-menu .nav-link {
  color: #fafce5 !important;
}

.dropdown-menu .nav-link:hover {
  background-color: #142935;
}