<header>
    <nav class="navbar navbar-expand-lg bg-1 navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="assets/img/helldiver-icon.webp" class="img-fluid" alt="Icono Helldiver" style="height: 30px; margin-right: 10px;">SUPERTIENDA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul *ngIf="sesion?.logueado" class="navbar-nav navbar-usuario me-auto mb-2 mb-lg-0">
                    <li class="nav-item">Bienvenido {{ sesion?.nombre }}</li>
                </ul>
                <ul class="navbar-nav navbar-menu ms-auto mb-lg-0">
                    <!-- Siempre visibles -->
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Supercategorías
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link ps-3" [routerLink]="['/categoria', 'armaduras']">Armaduras</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ps-3" [routerLink]="['/categoria', 'armamento']">Armamento</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ps-3" [routerLink]="['/categoria', 'estratagemas']">Estratagemas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ps-3" [routerLink]="['/categoria', 'superdestructor']">Superdestructor</a>
                            </li>
                        </ul>
                    </div>


                    <!-- Si hay sesión activa -->
                    <ng-container *ngIf="sesion?.logueado">

                        <!-- Admin -->
                        <li class="nav-item" *ngIf="sesion?.tipo === 'superadmin'">
                            <a class="nav-link" routerLink="/admin">Panel Admin</a>
                        </li>

                        <!-- Usuario normal -->
                        <li class="nav-item" *ngIf="sesion?.tipo !== 'superadmin'">
                            <a class="nav-link" routerLink="/perfil">Mi Perfil</a>
                        </li>
                        <li class="nav-item" *ngIf="sesion?.tipo !== 'superadmin'">
                            <a class="nav-link" routerLink="/carrito">Carrito</a>
                        </li>
                        <li class="nav-item" *ngIf="sesion?.tipo !== 'superadmin'">
                            <a class="nav-link" routerLink="/historial">Historial</a>
                        </li>

                        <!-- Cierre sesión -->
                        <li class="nav-item">
                            <a class="nav-link text-danger" (click)="cerrarSesion()" style="cursor: pointer;">Cerrar sesión</a>
                        </li>
                    </ng-container>

                    <!-- Si NO hay sesión activa -->
                    <ng-container *ngIf="!sesion?.logueado">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/login">Iniciar sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/registro">Registro</a>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </nav>
</header>