<div class="container mt-5">
    <h2 class="text-center mb-4">Administración de usuarios</h2>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.tipo | capitalize }}</td>
                <td>
                    <div class="d-flex gap-2">
                        <!-- <button class="btn btn-2 btn-sm" (click)="eliminarUsuario(usuario.email)">
                            <i class="fas fa-edit"></i>
                            Editar
                        </button> -->
                        <button class="btn btn-danger btn-sm" (click)="eliminarUsuario(usuario.email)" [disabled]="usuario.tipo === 'superadmin'">
                            <i class="fas fa-trash"></i>
                            Eliminar
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <h2 class="text-center mt-5 mb-4">Registro de Superventas</h2>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Usuario</th>
                <th>Fecha compra</th>
                <th>Cantidad productos</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let venta of ventas">
                <td>{{ venta.usuario }}</td>
                <td>{{ venta.fechaCompra | date: 'dd-MM-yy' }}</td>
                <td>{{ venta.cantidadProductos }}</td>
                <td>{{ venta.total }} Supercréditos</td>
            </tr>
        </tbody>
    </table>
</div>

