<main class="container my-5">
    <h1 class="text-center mb-4">Perfil</h1>

    <div class="card mx-auto bg-2 animate-slideUp" style="max-width: 500px;">
        <div class="card-body">
            <div class="mb-3">
            <label class="form-label fw-bold">Nombre</label>
            <input [(ngModel)]="usuarioActivo.nombre" type="text" class="form-control">
            </div>

            <div class="mb-3">
            <label class="form-label fw-bold">Usuario</label>
            <input [value]="usuarioActivo.usuario" type="text" class="form-control disabled" disabled>
            </div>

            <div class="mb-3">
            <label class="form-label fw-bold">Email</label>
            <input [(ngModel)]="usuarioActivo.email" type="email" class="form-control">
            </div>

            <div class="mb-3">
            <label class="form-label fw-bold">Contraseña</label>
            <input [(ngModel)]="usuarioActivo.password" type="password" class="form-control">
            </div>

            <div class="mb-3">
            <label class="form-label fw-bold">Tipo de Usuario</label>
            <input [value]="usuarioActivo.tipo" class="form-control disabled" disabled>
            </div>

            <div *ngIf="mensaje" class="alert alert-success text-center">{{ mensaje }}</div>

            <div class="d-grid">
                <button class="btn btn-1" (click)="guardarCambios()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</main>
