.btn-1 {background-color: var(--color-1); color: var(--color-5);}
.btn-2 {background-color: var(--color-2); color: var(--color-6);}
.btn-3 {background-color: var(--color-5); color: var(--color-1);}

.bg-1 {background-color: var(--color-1); color: var(--color-5);}
.bg-2 {background-color: var(--color-2); color: var(--color-3);}
.bg-3 {background-color: var(--color-3);}
.bg-4 {background-color: var(--color-4); color: var(--color-6);}
.bg-5 {background-color: var(--color-5);}
.bg-6 {background-color: var(--color-6);}

input.disabled {
  background-color: #f5f5f5;
  color: #131313;
  border: 1px solid #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}